{% extends 'base.html' %}

  {% block content %}
        
      <h2>Ajouter un ticket</h2>

      <div class="block">

      <form action="" method="post">
          {{ form.as_p }}
          {% csrf_token %}

          {% if ticket %}
          <input class="floating" type="submit" value="Modifier">
            {% url 'delete_ticket' ticket.id as link %}
        {% include 'reviews/partials/button_snippet.html' with link=link class='warning floating' text='Supprimer' %}

          {% else %}
            <input type="submit" value="Ajouter">
          {% endif %}
      </form>
    </div>
  {% endblock content %}