<div class="block large">
  <div class="legend">
    {% if review.user == user %}
    Vous avez 
    {% else %}
    <a href="{% url 'posts' review.user.id %}">{{ review.user.username }}</a> a
    {% endif %}
    posté une critique en réponse à :
</div>
{% include 'reviews/ticket-block.html' with ticket=review.ticket condensed=True %}


<p class="floating">le {{ review.time_created }}</p>
        <h2>{{ review.headline }}</h2>
        <p><strong>Note : </strong>{{ review.rating }}</p>
        <p><strong>Commentaire : </strong>{{ review.body }}</p>

      

    </div>